{% extends 'base.html' %}

{% block content %}

<form enctype="multipart/form-data" method="get">
  {% csrf_token %}
  <div>
    {{ form.exchange.label_tag }}
    {{ form.exchange }}
  </div>
  <div>
    {{ form.currencies.label_tag }}
    {{ form.currencies }}
  </div>
  {% comment %} {% if form.exchange.value and form.currencies.value %} {% endcomment %}
    {% if trading_view == "True" %}
      <button class="button-secondary" name="tradingview_button" value=False type="submit">Close Trading view</button>
    {% else %}
      <button class="button-secondary" name="tradingview_button" value=True type="submit">Open Trading view</button>
    {% endif %}
  {% comment %} {% endif %} {% endcomment %}
</form>

{% if trading_view == "True" %}
<!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container" disabled>
      <div id="tradingview_40d3c"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "autosize": true,
      "symbol": "{{ exchange|upper }}:{{ currencies|cut:'/' }}",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": true,
      "backgroundColor": "rgba(0, 0, 0, 1)",
      "gridColor": "rgba(203, 203, 203, 0.06)",
      "withdateranges": true,
      "range": "1D",
      "hide_side_toolbar": false,
      "allow_symbol_change": true,
      "details": true,
      "hotlist": true,
      "calendar": true,
      "show_popup_button": true,
      "popup_width": "1000",
      "popup_height": "650",
      "container_id": "tradingview_40d3c"
    }
      );
      </script>
    </div>
  <!-- TradingView Widget END -->
{% endif %}

{% endblock content %}
