{% extends 'base.html' %}

{% block content %}

{% comment %} // Log the URL string.
console.log(url.href);

// Go to the URL.
location.assign(url);

// Go to the URL, but overwrite this history entry.
location.replace(url);

// Same as `location.assign` without reloading.
history.pushState(null, '', url);

// Same as `location.replace` without reloading.
history.replaceState(null, '', url); {% endcomment %}


<form enctype="multipart/form-data" method="get">
  
  {% comment %} {% csrf_token %} {% endcomment %}
  <div>
    <label for="id_exchange">Exchange:</label>
    <select name="exchange" id="id_exchange">
    {% for exchange in exchanges %}
      <option value={{ exchange }}>{{ exchange }}</option>
    {% endfor %}</select>
  </div>

  <div id="currenciesField">
    <label for="id_currencies">Currency:</label>
    <select id="id_currencies" name="currencies">
    {% for market in markets_list %}
      <option value={{ market }}>{{ market }}</option>
    {% endfor %}</select>
  </div>
  <button class="button-secondary" type="submit">GO!</button>
  {% if request.GET.tradingview_button == "True" %}
      <a href='#' class="button-secondary" name="tradingview_button" onclick="tradingView(true)">Close Trading view</a>
    {% else %}
      <a href='#' class="button-secondary" name="tradingview_button" onclick="tradingView(false)">Open Trading view</a>
    
  {% endif %}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function updateURLParam(param, Value) {
      var url = new URL(window.location.href);
      url.searchParams.set(param, Value);
      history.replaceState(null, null, url.toString());
    }

    $(document).ready(function() {
      var exchangeValue = "{{ request.GET.exchange }}";
      var currenciesValue = "{{ request.GET.currencies }}"
      $("#chartForm").on("submit", function() {
        $("#id_exchange").find("option[value='" + exchangeValue + "']").prop("selected", true); // Set exchange value to empty
        $("#id_currencies").val("");
        
      });
  
      $("#id_exchange").on("change", function() {
        var selectedExchange = $(this).val();
        if (selectedExchange) {
          updateURLParam('exchange', selectedExchange);
          $("#chartForm").submit();
          location.reload();
        }
      });

      $("#id_currencies").on("change", function() {
        var selectedCurrencies = $(this).val();
        if (selectedCurrencies) {
          updateURLParam('currencies', selectedCurrencies);
          $("#chartForm").submit();
          location.reload();
        }
      });

      $("#id_exchange").find("option[value='" + exchangeValue + "']").prop("selected", true);
      $("#id_currencies").find("option[value='" + currenciesValue + "']").prop("selected", true);
    });

    function generateUrl(url, params) {
      var i = 0, key;
      for (key in params) {
          if (i === 0) {
              url += "?";
          } else {
              url += "&";
          }
          url += key;
          url += '=';
          url += params[key];
          i++;
      }
      return url;
  }

    function tradingView(arg) {
      let params = new URLSearchParams(document.location.search);
      var newLocation = "http://localhost/chart/";
      var csrfmiddlewaretoken = params.get('csrfmiddlewaretoken');
      var tradingViewVar = "{{ trading_view|escapejs }}";
      var exchange = params.get('exchange');
      var currencies = params.get('currencies');
      if (arg) {
        tradingViewVar = "False"
        newLocation = generateUrl("http://localhost/chart/",{ 
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          exchange: exchange,
          currencies: currencies,
          tradingview_button: tradingViewVar,
      })
      } else {
        tradingViewVar = "True"
        newLocation = generateUrl("http://localhost/chart/",{ 
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          exchange: exchange,
          currencies: currencies,
          tradingview_button: tradingViewVar,
      })
      
      } 
      window.location.href = newLocation;
    }

  </script>
</form>



{% if request.GET.tradingview_button == "True" %}
<!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container" disabled>
      <div id="tradingview_40d3c"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "autosize": true,
      "symbol": "{{ exchange|upper }}:{{ request.GET.currencies|cut:'/' }}",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": true,
      "backgroundColor": "rgba(0, 0, 0, 1)",
      "gridColor": "rgba(203, 203, 203, 0.06)",
      "withdateranges": true,
      "range": "1D",
      "hide_side_toolbar": false,
      "allow_symbol_change": true,
      "details": true,
      "hotlist": true,
      "calendar": true,
      "show_popup_button": true,
      "popup_width": "1000",
      "popup_height": "650",
      "container_id": "tradingview_40d3c"
    }
      );
      </script>
    </div>
  <!-- TradingView Widget END -->
{% endif %}

{% endblock content %}
