{% extends 'base.html' %}
{% block content %}
{% load website_extras %}

<div class='menu'>
    <ul class='menu-wrapper'>
        {% comment %} <li class='menu-item'><a class="menu-button" href={% url '??' %}>Edit Container</a></li>
        <li class='menu-item'><a class="menu-button" href={% url '??' %}></a>Delete Container</li> {% endcomment %}
        
    </ul>
</div>

{% if api_obj %}
    <p>hello world!</p>
{% endif %}
{% if ccxt_obj %}
    <p>{{ ccxt_obj }}</p>
    <p>{{ ccxt_balance }}</p>
{% endif %}

{% endblock content %}





