{% extends 'base.html' %}

{% block title %}Exchanges{% endblock title %}

{% block content %}
<div class='menu'>
    <div class='menu-wrapper'>
        {% if request.GET.sort == "name" %}
            <a class="menu-button" href="?sort=">unsort</a>
        {% else %}
            <a class="menu-button" href="?sort=name">Sort by Name</a>
        {% endif %}
    </div>
</div>


<ul class="exchanges-wrapper">
{% for exchange in exchangemodel_list %}
    <a class="exchange-button" href={% url 'exchange_detail' exchange.slug %}>
        <li class="exchanges-container">
            <p>{{ exchange }}</p>
            <img src="{{ exchange.get_info.urls.logo }}">
        </li>
    </a>
    {% endfor %}
</ul>



{% endblock content %}