{% extends 'base.html' %}
{% block title %}Cryptocurrency tracker{% endblock title %}
{% block content %}
  <header class="index-header">
    <h1>Welcome to CryptocurrencyTracker!</h1>
    <!-- Add any additional header content here -->
  </header>

  <main class="index-section-wrapper">
    <section class="index-section">
      <h2>Real-Time Cryptocurrency Prices</h2>
      <!-- Display real-time cryptocurrency prices and charts here -->
    </section>

    <section class="index-section">
      <h2>Portfolio Tracker</h2>
      <!-- Add portfolio tracking functionality and visualization here -->
    </section>

    <section class="index-section">
      <h2>Cryptocurrency News</h2>
      <!-- Display cryptocurrency news feed or curated articles here -->
    </section>

    <section class="index-section"> 
      <h2>Educational Resources</h2>
      <!-- Provide educational materials, guides, and resources here -->
    </section>

    <section class="index-section">
      <h2>Top Gainers and Losers</h2>
      <!-- Show top gaining and losing cryptocurrencies here -->
    </section>

    <section class="index-section">
      <h2>Social Media Integration</h2>
      <!-- Add social media links and widgets here -->
    </section>

    <section class="index-section">
      <h2>About Us</h2>
      <!-- Provide information about the website and the team here -->
    </section>

    <section class="index-section">
      <h2>Contact Information</h2>
      <!-- Display contact form or contact details here -->
    </section>

    <section class="index-section">
      <h2>Disclaimer</h2>
      <!-- Display a disclaimer about the information provided here -->
    </section>
  </main>



{% endblock content %}