<!DOCTYPE html>
{% load static %}
{% load website_extras %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class='navbar'>
            <ul class='navbar-wrapper'>
                <li class='navbar-item'><a class="button" href={% url 'chart' %}>Chart</a></li>
                <li class='navbar-item'><a class="button" href={% url 'news' %}>News</a></li>
                {% if user.is_authenticated %}
                    <li class='navbar-item'><a class="button" href={% url 'profile' %}>Profile</a></li>
                    <li class='navbar-item'><a class="button" href={% url 'dashboard_list' %}>Dashboard</a></li>
                {% else %}
                    <li class='navbar-item'><a class="button" href={% url 'profile' %}>sign-in</a></li>
                {% endif %}
            </ul>
        </div>
    </body>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</html>
