<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class='navbar'>
            <a class="button" href={% url 'chart' %}>Chart</a>
            <a class="button" href={% url 'news' %}>News</a>
            <a></a>
        </div>
    </body>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</html>