/* Global style */
* {
    font-family: sans-serif;
    font-size: medium;
}

ul {
    list-style-type: disc;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

select {
    width: auto;
    max-width: 30%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
}

select:focus {
    outline: none;
    border-color: #010101;
}

select option {
    /* Add styles for the options */
    background-color: #f1f1f1;
    color: #191717;
}

select option:hover {
    background-color: #c2c0c0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color: rgba(21, 21, 20, 0.284);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

/* index style */
.index-header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-image: url('media/bg_gifs/pixelart.gif');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.index-header h1 {
    font-size: 32px;
    color: #333;
}

.index-section-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 2fr);  /* repeat(2, 1fr) */
    gap: 20px;
    padding: 20px;
}

.index-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.index-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.index-section p {
    margin-bottom: 0;
}

.index-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.index-section:nth-child(odd) {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: Left;
    justify-content: left;
    text-align: right;
}

.index-section:nth-child(odd) h2 {
    color: #555;
}

.index-section:last-child {
    margin-bottom: 0;
}

/* navbar */
.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
}

.navbar-wrapper {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

.navbar-item {
    display: inline-block;
    margin-right: 10px;
}

.navbar-item a {
    display: block;
    color: goldenrod;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.navbar-item a:hover {
    background-color: whitesmoke;
}
.navbar-item.logo {
    background-color: black;
    margin-right: 350px;
    transition: background-color 0.3s ease;
}

.button {
    /* background-color: #262926; */
    color: whitesmoke;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 100%; 
    width: 120px; 
    line-height: 95px;
    
}

.button:hover {
    background-color: #45a049;
}


/* menu style */
.menu {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px;
}
  
.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-item {
    list-style: none;
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #f5f5f5;
}

.menu-button {
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #f5f5f5;
}

.menu-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}


/* news style */
.news-upper-container {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
}

.news-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.news-description {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.search-bar {
    padding: 8px 12px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar-container button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar-container button:hover {
    background-color: #45a049;
}

.button-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: #45a049;
}

.button-secondary {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-secondary:hover {
    background-color: #bbb;
}

.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding-inline-start: 0;
}

.article-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #434d57;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 250px;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.article-container:hover {
    border-color: rgba(0, 0, 0, 0.953);
    background-color: rgba(49, 65, 96, 0.04);
}

.article-container img {
    max-width: 100%;
    max-height: 73px;
    margin-bottom: 10px;
}

.article-container p {
    margin-bottom: 5px;
}


/* chart style */
main {
    max-width: auto;
    max-height: auto;
    height: 100%;
}

#tradingview_40d3c {
    width: 100%;
    height: 100vh;
}

/* login style */
.requests {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-box {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
}

.box {
    padding: 10px;
    margin-bottom: 10px;
}

.box-error {
    background-color: #ffcccc;
    color: #ff0000;
}

.password-reset .menu-button.login {
    text-decoration: none;
    color: #333;
}

.password-reset .menu-button.login:hover {
    text-decoration: underline;
}

.menu-button.login {
    color: #333;
    text-decoration: none;
}

.menu-button.login:hover {
    text-decoration: underline;
}


/* exchange style */
.exchanges-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding-inline-start: 0;
}

.exchanges-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #434d57;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 154px;
    height: 99px;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.exchange-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.exchange-button img {
    margin-top: 10px;
}
  
.exchanges-container:hover {
    border-color: rgba(0, 0, 0, 0.953);
    background-color: rgba(49, 65, 96, 0.04);
}

/* exchange detail style */
.exchange-detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.exchange-detail-container {
    text-align: center;
}

.exchange-detail-container img {
    width: 150px;
    height: 150px;
}

.exchange-detail-container h2 {
    margin-top: 10px;
}

.exchange-detail-container a {
    display: block;
    margin-top: 10px;
}

.exchange-detail-markets-wrapper {
    margin-top: 50px;
}

.exchange-detail-markets-container {
    list-style-type: none;
    padding: 0;
}

.exchange-detail-markets-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.exchange-detail-markets-item-container p {
    margin: 0;
}

.exchange-detail-markets-item-container a {
    text-decoration: none;
    color: #000;
}